.App {
  padding: 20px;
}

.components > * {
  padding-bottom: 30px;
}

hr,
.components > hr {
  padding-bottom: 0;
  margin-bottom: 0;
}

.components > div {
  padding-top: 30px;
  padding-bottom: 10px;
}

.components > div > div {
  margin-bottom: 20px;
}

.components .picker {
  width: 300px;
}

.components .inlinePicker {
  width: 800px;
}

h2 {
  a,
  a:hover {
    color: #212529;
  }
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 20px;
}
