.App {
  padding: 20px;
}

.components > * {
  padding-bottom: 30px;
  width: 300px;
}

.components > div {
  padding-top: 30px;
  padding-bottom: 10px;
}

.components > div > div {
  margin-bottom: 20px;
}

.components .inlinePicker {
  width: 800px;
}

h2 {
  width: 800px;
  margin-bottom: 20px;
}
