.App {
  padding: 20px;

  a,
  a:hover {
    color: #212529;
  }
}

.heading {
  h1,
  div,
  a {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-right: 50px;
  }

  a {
    margin-right: 15px;
  }

  :global {
    .fa-github {
      width: 40px;
      height: 40px;
      font-size: 40px;
      text-align: center;
    }
  }

  .npm {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' width='53px' height='40px' viewBox='0 0 18 7'%3E %3Cpath fill='%23CB3837' d='M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z'/%3E %3Cpolygon fill='%23FFFFFF' points='1,5 3,5 3,2 4,2 4,5 5,5 5,1 1,1 '/%3E %3Cpath fill='%23FFFFFF' d='M6,1v5h2V5h2V1H6z M9,4H8V2h1V4z'/%3E %3Cpolygon fill='%23FFFFFF' points='11,1 11,5 13,5 13,2 14,2 14,5 15,5 15,2 16,2 16,5 17,5 17,1 '/%3E %3C/svg%3E");
    height: 40px;
    width: 53px;
    background-repeat: no-repeat;
  }
}

.components > * {
  padding-bottom: 30px;
}

hr,
.components > hr {
  padding-bottom: 0;
  margin-bottom: 0;
}

.components > div {
  padding-top: 30px;
  padding-bottom: 10px;
}

.components > div > div {
  margin-bottom: 20px;
}

.components .picker {
  width: 300px;
}

.components .inlinePicker {
  width: 800px;
}

h2 {
  display: inline-block;
  padding-top: 15px;
  margin-bottom: 20px;
}
