@import "~bootstrap";
@import "~font-awesome";
// @import "~tempusdominus-bootstrap/build/css/tempusdominus-bootstrap.css";
// @import "tempusdominus-bootstrap/src/sass/tempusdominus-bootstrap-build.scss";
@import "~tempusdominus-bootstrap/src/sass/tempusdominus-bootstrap-build.scss"; // Or one of the above.
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~prismjs/plugins/line-highlight/prism-line-highlight.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

em {
  display: block;
  margin-top: 15px;
}

.prism-code {
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;

  pre,
  pre[class*="language-"] {
    margin: 0;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent;
  }

  .line-highlight {
    box-shadow: inset 5px 0 0 #00bcd4;
    background: hsla(0, 0%, 98%, 0.1);
    background: linear-gradient(
      to right,
      hsla(0, 0%, 98%, 0.1) 70%,
      hsla(24, 20%, 50%, 0)
    );
  }
}
